.avatar-container {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #f5f5f5;
	overflow: hidden;
}

.avatar-img {
	width: 100%;
	height: 100%;
}
